.wrapper_urlcheck {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
}
.container_urlcheck,
.logo-img_urlcheck {
  position: absolute;
}

.container_urlcheck {
  width: 284px !important;
  height: 284px !important;
  border-radius: 50%;
  box-sizing: content-box !important;
  background: linear-gradient(45deg, transparent, transparent 30%, #57d6fd);
  animation: run_urlcheck 1.5s ease infinite;
}
@keyframes run_urlcheck {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-img_urlcheck {
  width: 300px;
  height: 300px;
  background-size: 184.4px 209.5px;
  background-repeat: no-repeat;
  background-position: center center;
}
