.chrome-plugin-simple-tip {
  position: fixed;
  padding: 16px 10px;
  color: white;
  min-width: 300px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.chrome-plugin-simple-tip {
  z-index: 99999 !important;
  background: none !important;
  background-image: linear-gradient(
    to right,
    #4facfe98 0%,
    #00f2fe98 100%
  ) !important;
  animation-name: slideInRight !important;
  animation-duration: 3s !important;
  right: 20px !important;
  /* top: 20px !important; */
  left: auto !important;
  max-width: 500px !important;
  transition: top 1s ease 0s !important;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.feedbackSvg_urlcheck {
  width: 24px;
  height: 24px;
  vertical-align: -3px;
}
#feedbackLine2_urlcheck {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  border: 2px solid #dae0e4;
  border-radius: 32px;
  width: 150px;
  align-self: center;
  background-color: #ffffff;
}
#likeText_urlcheck,
#dislikeText_urlcheck {
  font-size: 24px;
  color: #7a8f9a;
}
#split_urlcheck {
  display: inline-block;
  margin: auto 13px auto 10px;
  height: 16px;
  width: 2px;
  opacity: 0.6;
  background: #e8ecee;
  vertical-align: middle;
  line-height: 32px;
  font-size: 0;
  -webkit-text-size-adjust: none;
  color: #9eadb6;
}
#tipLogo_urlcheck {
  width: 80px !important;
  height: 80px !important;
}
#feedbackLine1_urlcheck,
#tipLogo_urlcheck {
  align-self: center;
}
#feedbackLine1_urlcheck {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#closeTipBox_urlcheck {
  display: block;
  width: 20px;
  height: 20px;
  align-self: flex-end;
}
#closeTipBox_urlcheck:hover {
  background-color: #ffffff75;
  cursor: pointer;
}
#closeTip_urlcheck {
  width: 20px !important;
  height: 20px !important;
}
