#overlay_urlcheck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: blur-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  box-shadow: 2px 2px 2px #00000051;
  background-color: #ffffff25;
  z-index: 2147483647; /* 设置 z-index 使其位于其他元素之上 */
}
@keyframes blur-animation {
  from {
    backdrop-filter: blur(0px); /* 初始状态为不模糊 */
  }
  to {
    backdrop-filter: blur(10px); /* 结束状态为模糊10px */
  }
}

#popup_urlcheck {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  position: absolute;
  width: 380px !important;
  height: 54px !important;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: large;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px !important;
  box-sizing: content-box !important;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#continue_urlcheck {
  width: 180px !important;
  height: 32px !important;
  background-color: #fdf6ec !important;
  color: #eaaf58 !important;
  border: 1px solid #f3d19e !important;
  border-radius: 4px !important;
  font-size: 20px !important;
}

#continue_urlcheck:hover {
  cursor: pointer !important; /* 鼠标移动到上面变成小手 */
  background-color: #e6a23c !important; /* 背景颜色加深 */
  color: #ffffff !important;
}
#checking_paragraph_urlcheck {
  font-size: 30px;
  font-family: Arial, sans-serif !important;
  font-weight: bold !important;
}
#checked_paragraph0_urlcheck,
#checked_paragraph1_urlcheck {
  font-size: 25px;
}
#checked_paragraph2_urlcheck {
  font-size: 20px;
}
#checking_paragraph_urlcheck,
#checked_paragraph0_urlcheck,
#checked_paragraph1_urlcheck,
#checked_paragraph2_urlcheck,
#continue_urlcheck,
#tagLine_urlcheck,
#paragraph_time_urlcheck,
#recommendLine_urlcheck {
  align-self: center;
  font-family: Arial, sans-serif !important;
  font-weight: bold !important;
}

#paragraph_time_urlcheck {
  margin: 0px !important;
}

#checked_paragraph1_urlcheck,
#checked_paragraph2_urlcheck,
#continue_urlcheck {
  margin-top: 5px;
  margin-bottom: 5px;
}

#pass_img,
#fail_img {
  width: 50px !important;
  height: 50px !important;
  float: left !important;
  padding-right: 20px !important;
  box-sizing: content-box !important;
  filter: brightness(100%) !important;
}

#result_div_urlcheck {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag_urlcheck {
  border: 2px solid #fde2e2;
  display: inline-block;
  padding: 2px;
  border-radius: 4px;
  background-color: #fef0f0;
  color: #f56c6c;
  font-size: 25px;
  margin-bottom: 15px;
  margin-right: 5px;
  line-height: 1 !important;
}

#recommendLine_urlcheck {
  margin-top: 20px;
  margin-bottom: 20px;
}
.intention_btn_urlcheck {
  width: 120px !important;
  height: 32px !important;
  /* background-color: #f0f9eb !important;
  color: #2fc9ad !important;
  border: 1px solid #b3e19d !important; */
  background-color: #ecf5ff !important;
  color: #4fa5ff !important;
  border: 1px solid #a0cfff !important;
  border-radius: 4px !important;
  font-size: 20px !important;
  margin-right: 8px !important;
}
.intention_btn_urlcheck:hover {
  cursor: pointer !important;
  /* background-color: #43e97b !important;
  color: #f9fcff !important; */
  background-color: #409eff !important;
  color: #f9fcff !important;
}
#queryLabel_urlcheck {
  font-size: 20px !important;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mask_urlcheck {
  position: relative;
}

.mask_urlcheck::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5); /* 面板遮罩颜色和透明度 */
}

#loadingSvg_urlcheck {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: infinite-rotation_urlcheck 2s linear infinite;
  width: 150px;
  height: 150px;
  z-index: 2147483647;
}

/* 定义一直循环播放的旋转动画 */
@keyframes infinite-rotation_urlcheck {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.urllink_urlcheck {
  color: #4288f1 !important;
  font-size: 18px !important;
}

.recommendurl_urlcheck {
  margin: 5px;
}

.recommendUnit_urlcheck {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 228.16px;
  opacity: 0;
  transition: transform 3s, opacity 3s;
}
.recommendWebsiteImg_urlcheck {
  pointer-events: auto !important;
  max-width: 300px;
}
.recommendWebsiteImg_urlcheck:hover {
  cursor: pointer !important;
}
.recommendUnit0_urlcheck,
.recommendUnit1_urlcheck,
.recommendUnit2_urlcheck,
.recommendUnit3_urlcheck {
  bottom: 20px;
  left: 50%;
  transform: translate(-50%,0%) scale(0.1);
}

#arrowCanvas_urlcheck {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2147483650;
  opacity: 0;
}

.websiteNameBtn_urlcheck {
  margin-top: 6px;
  padding: 4px 12px 4px 12px;
  border: 2px solid #a0cfff;
  border-radius: 5px;
  background-color: #ecf5ff;
  max-height: 52px;
  font-size: 30px !important;
  font-weight: bold !important;
  color: #409eff !important;
}

.websiteNameBtn_urlcheck:hover {
  cursor: pointer !important;
}
