body {
  display: none !important;
}
#overlay_urlcheck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 2px #00000051;
  background-color: #ffffff25;
  z-index: 9999; /* 设置 z-index 使其位于其他元素之上 */
}

#popup_urlcheck {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  position: absolute;
  width: 380px !important;
  height: 54px !important;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: large;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px !important;
  box-sizing: content-box !important;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#continue_urlcheck {
  width: 180px !important;
  height: 32px !important;
  background-color: #fdf6ec !important;
  color: #eaaf58 !important;
  border: 1px solid #f3d19e !important;
  border-radius: 4px !important;
  font-size: 20px !important;
}

#continue_urlcheck:hover {
  cursor: pointer !important; /* 鼠标移动到上面变成小手 */
  background-color: #e6a23c !important; /* 背景颜色加深 */
  color: #ffffff !important;
}
#checking_paragraph_urlcheck {
  font-size: 30px;
  font-family: Arial, sans-serif !important;
  font-weight: bold !important;
}
#checked_paragraph0_urlcheck,
#checked_paragraph1_urlcheck {
  font-size: 25px;
}
#checked_paragraph2_urlcheck {
  font-size: 20px;
}
#checking_paragraph_urlcheck,
#checked_paragraph0_urlcheck,
#checked_paragraph1_urlcheck,
#checked_paragraph2_urlcheck,
#continue_urlcheck,
#paragraph_time_urlcheck {
  align-self: center;
  font-family: Arial, sans-serif !important;
  font-weight: bold !important;
}

#paragraph_time_urlcheck {
  margin: 0px !important;
}

#checked_paragraph1_urlcheck,
#checked_paragraph2_urlcheck,
#continue_urlcheck {
  margin-top: 5px;
  margin-bottom: 5px;
}

#pass_img,
#fail_img {
  width: 50px !important;
  height: 50px !important;
  float: left !important;
  padding-right: 20px !important;
  box-sizing: content-box !important;
  filter: brightness(100%) !important;
}

#result_div_urlcheck {
  display: flex;
  justify-content: center;
}
